<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aleson.example.nasaapodapp">

    <dependency>
        <groupId>
            com.squareup.retrofit2
        </groupId>

        <artifactId>
            retrofit
        </artifactId>

        <version>
            2.3.0
        </version>
    </dependency>
    <dependency>
        <groupId>
            com.squareup.retrofit2
        </groupId>

        <artifactId>
            converter-gson
        </artifactId>

        <version>
            2.3.0
        </version>
    </dependency>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name=".apod.presentation.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="213ccff95dc9bde44881cbdbc4b495f2b0f3aa35" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_casino_black_24dp" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity android:name=".favorites.presentation.FavoritesActivity" android:screenOrientation="portrait"/>
        <activity android:name=".topRated.presentation.TopRatedActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>