<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="br.com.aleson.nasa.apod.app">

    <dist:module dist:instant="true" />

    <application
        android:name=".common.application.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NASA-APOD-APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.profile.ProfileActivity"></activity>
        <activity android:name=".feature.home.presentation.APODFullscreenActivity" />

        <service
            android:name=".common.messaging.MessagingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".feature.home.presentation.APODsActivity" />
        <activity android:name=".feature.login.presentation.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>